{% extends "base.html" %}

{% load socialaccount %}

{% block content %}
<h2>Cadastro</h2>
<p>Por favor, crie uma nova senha. Não utilize senhas que você usa normalmente para sua segurança. Em caso de esquecimento, você poderá recuperar a senha.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cadastrar</button>
</form>
<!-- Link para recuperação de senha -->
<p><a href="{% url 'password_reset' %}">Esqueci minha senha</a></p>

<!-- Link para a página de cadastro -->
<p>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se aqui</a>.</p>

{% comment %} <!-- Links para login social -->
<h3>Ou faça login com</h3>
<ul>
    {% if socialaccount_providers %}
        {% for provider in socialaccount_providers %}
            <li>
                <a href="{% provider_login_url provider.id %}">Login com {{ provider.name }}</a>
            </li>
        {% endfor %}
    {% endif %}
</ul> {% endcomment %}
{% if user.is_superuser %}
  <a href="https://dashboard.stripe.com" target="_blank">Acessar Dashboard Stripe</a>
{% endif %}

{% endblock %}
